.map_item_row {
  position: relative;
  left: 4rem;
}

.gif_properties {
  height: 12rem;
  width: auto;
  margin-bottom: 5rem;
}

.map_list_item:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.map_list_item {
  margin: 0.5rem;
}
.map_list_item_input {
  margin: 0.5;
  height: 20rem;
}
