.region_landmarks_list {
  border-style: solid;
  height: 29rem;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.regional_landmarks_container {
  position: relative;
  top: 2rem;
}

.region_landmarks_inner_div {
  position: relative;
  top: 2rem;
}

.parent_name {
  color: blue;
  position: relative;
  right: 3.4rem;
}

.parent_name:hover {
  cursor: pointer;
}

.pencil {
  position: relative;
  right: 8.5rem;
}

.pencil:hover {
  cursor: pointer;
}

.warning_stuff {
  width: 25rem;
  position: relative;
  left: 4rem;
  margin-top: 2rem;
  height: 8rem;
}
.add_landmark {
  margin-top: 1rem;
}
